<div class="container">  
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Data Base</h1><br><br>
      <div class="account-wall">
          <% if @collections.present? %>
          <table class = 'table'>
            <thead>
              <th> Name</th>
              <th> Category</th>
            </thead>
            <% @collections.each do |c| %>
              <tr>
                <td><%= c.name %></td>
                <td><%= c.category.name %></td>
              </tr>
            <%end %>
          </table>
        <%else%>
          <h4> No Data Present</h4>
        <% end %>

        <%= form_tag upload_collections_path,:method => :get do %>
          <div><%= submit_tag "Upload"   , class: "btn btn-primary btn-lg btn-block" %></div>
        <% end -%>
			</div>
		</div>
	</div>
</div>