<div class="container">  
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Fetched data from freebase is as follow</h1><br><br>
      <div class="account-wall">
      	<% @topic['result'].each do |toic| %>
          <%= toic['name'] %></br>
        <% end %>
       
			</div>
		</div>
	</div>
</div>